
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">List of Elements</a>
        </li>
      
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" [(ngModel)]="search" name="searchforname" placeholder="Search for Name" aria-label="Search">
        <button class="btn btn-outline-success" (click)="btnSearch()" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <h1>List of Elemnts the Table Periodic</h1>
    <form [formGroup]="form" class="row">
    <div class="col-3">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col-3">
      <div class="mb-3">
        <label for="weight" class="form-label">Weight</label>
        <input type="number" class="form-control" formControlName="weight" placeholder="Weight" aria-label="Weight" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col-3">
      <div class="mb-3">
        <label for="symbol" class="form-label">Symbol</label>
        <input type="text" class="form-control" formControlName="symbol" placeholder="Symbol" aria-label="Symbol" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col-3">
      <div class="mb-3">
        <label for="symbol" class="form-label">Add new Symbol</label>
        <button class="btn btn-success form-control" *ngIf="objectEdit.position === 0" (click)="btnAdd()" [disabled]="form.invalid" >Add</button>
        <button class="btn btn-primary form-control" *ngIf="objectEdit.position !== 0" (click)="updateElement(objectEdit)" [disabled]="form.invalid" >Update</button>
      </div>
    </div>
  </form>
 
  </div>
</div>

<div class="container mt-2 pb-5">
  <div class="row">
    <table mat-table [dataSource]="elements" class="mat-elevation-z8">

    
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Id. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol | cutpipe}} </td>
      </ng-container>

      <ng-container matColumnDef="create">
        <th mat-header-cell *matHeaderCellDef> Creation Date </th>
        <td mat-cell *matCellDef="let element"> {{element.dateCreate | date: 'MM-dd-yyyy, h:mm a'}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element" class="btns"> 
          <button (click)="editElement(element)" class="btn btn-primary">Edit</button> 
          <button (click)="btnDelete(element)" class="btn btn-danger">Remove</button> </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button (click)="generateList()" class="btn btn-success">Generate List for Default</button>
  </div>
</div>